{{extend 'layout.html'}}
{{y='youtube'}}
<style>
	h3,h4,h5{display:inline;}
</style>
<h1>Category : {{some.category}}</h1>
<h3>
{{=(A(some.title,_href='http://'+some.url))}}
</h3>
({{=some.url}})
&nbsp;
&nbsp;
(Total Rating: {{=some.votes}})
</br>
<h4>Posted on   </h4>
{{=some.time_posted}}
{{user=db(db.auth_user.id==some.user_id).select()}}
<h4>   by   </h4>

{{=user[0].first_name}}
</br>
{{if y in some.url:}}
{{a=some.url.split('=')}}
{{if(len(a)>1):}}
{{fin=str(a[len(a)-1])}}
{{endf="http://www.youtube.com/embed/"+fin}}
<iframe width="210" height="172"
	src={{=endf}}>
</iframe>
</br>
{{pass}}
{{pass}}
&nbsp;
</br>
{{if auth.user:}}
{{if auth.user.id!=some.user_id:}}
{{ano=db((db.liked.post_id==some.id) & (db.liked.user_id==auth.user.id)).select()}}
{{if(len(ano)==1) and ano[0].response==True:}}
Liked
{{else:}}
{{=(A("Like ",_href=URL('voting',args=[some.id,'1'])))}}
{{pass}}

{{if(len(ano)==1) and ano[0].response==False:}}
Disliked
{{else:}}
{{=(A("  Dislike",_href=URL('voting',args=[some.id,'-1'])))}}
{{pass}}
</br>
</br>
{{=form}}
{{else:}}
</br>
</br>
{{=form}}
{{pass}}
{{else:}}</br>
{{=(A("  LOG IN",_href=URL('login')))}} TO LIKE/DISLIKE/COMMENT

</br>
{{pass}}
<h2>Earlier Comments:</h2>
{{co=db(db.comments.post_id==some.id).select()}}
<ol>
{{for i in co:}}
<li>
<h4 style="background-color:yellow;">{{=i.comet}}</h4>
</br>
<h5>Posted by:</h5>
{{us=db(db.auth_user.id==i.user_id).select().first()}}
{{=us.first_name}}

<h5>at</h5>
{{=i.time_posted}}
</li>
</br>
</br>
{{pass}}
</ol>
